:root {
    --body-font: Garamond, serif;
    --heading-font: Tahoma, sans-serif;
    --accent1-color: rgb(2, 19, 130);
    --primary-color: rgba(137, 2, 2, 0.819);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #ffffff;
    /* white text – make sure there is enough contrast with the background-color */
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Class Selectors */
.socialmedia a {
    text-decoration: none;
}

.hero {
    /* background-image: url('../images/hero.jpg'); */
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
    box-shadow: 0 0 30px gray;
}