:root {
    --body-font: Garamond, serif;
    --heading-font: Tahoma, sans-serif;
    --accent1-color: rgb(2, 19, 130);
    --primary-color: rgba(137, 2, 2, 0.819);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "icon nav";
    background-color: bisque;
    padding: 2px;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid black;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 5px;
    width: 95%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #ffffff;
    /* white text – make sure there is enough contrast with the background-color */
}

nav,
p,
section,
article {
    margin: 8px;
    padding: 4px;
}

/* Class Selectors */
.navigation {
    grid-area: nav;
    display: flex;
    list-style: none;
    gap: 8px;
}

.navigation li {
    flex: 1 1 0;
}

.navigation a {
    display: block;
    width: 100%;
    padding: 6px 6px;
    background-color: lightcyan;
    color: navy;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    border-radius: 30px;
    border: 1px solid black;
}

.navigation a:hover {
    background-color: darkred;
    color: white;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 2.5rem;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    margin: 15px;
}

.hero article {
    position: absolute;
    bottom: 10px;
    vertical-align: middle;
    color: #ffffff;
    background-color: blueviolet;
    font-size: 1.25rem;
}

.hero article img {
    float: right;
    width: 90px;
    box-shadow: 0 0 10px #eeff00;
}

.icon {
    grid-area: icon;
    justify-self: flex-end;
    width: 5rem;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}